@font-face {
    font-family: Roboto Condensed;
    src: url("{{asset('public/User/FONTS/Roboto_Condensed/RobotoCondensed-Italic.ttf')}}");
  }
  
  /* @font-face {
    font-family: Roboto-Italic;
    src: url("{{asset(''../FONTS/Roboto_Condensed/RobotoCondensed-Italic.ttf)}}");
  } */