@media only screen and (max-width: 1024px) and (min-width: 768px) {}

@media screen and (max-width: 768px) {
    .category-respon {
        display: block;
    }
    .menu-mobile {
        display: block !important;
    }
    .site-botbar {
        justify-content: center !important;
        align-items: center;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .topbar-containner {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .main,
    .featured-product,
    .site-footer,
    .site-info {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
    .img-banner-child {
        display: none;
    }
    .category-book {
        display: block !important;
        height: 170px;
        width: 100% !important;
    }
    .site-botbar .navbar {
        display: none;
    }
    .home-list-slider {
        display: none;
    }
    .home-slider {
        height: 280px;
    }
    .banner .slick-prev {
        left: 0;
    }
    .banner-left-feature {
        display: none;
    }
    .items-content .img-content img {
        height: 450px;
    }
    .footer-icon .col-lg-3 {
        border: 0;
    }
    .connect-us {
        border: 0;
    }
    .banner-right-feature {
        width: 100%;
    }
    .list-menu-res {
        background: #333333;
        font-family: Roboto-Italic !important;
        display: none;
        transition: transform 0.3s linear;
    }
    .list-menu-res .nav-ul li:hover {
        background: rgba(0, 0, 0, 0.2) !important;
    }
    .list-menu-res .nav-ul li:hover a {
        color: #fff;
    }
    .show-lst-menu {
        display: block;
    }
    .hiden-lst-menu {
        display: none;
    }
    .list-menu-res ul {
        padding-top: 10px;
    }
    .list-menu-res ul li {
        width: 280px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgb(101 101 101 / 50%);
    }
    .list-menu-res ul li a {
        color: #fff;
        font-weight: 500;
    }
    .nav-wrapper {
        display: flex;
    }
    .content-main {
        max-width: 100%;
        transition: transform 0.3s linear;
        position: relative;
        width: 100%;
    }
    .move-contain {
        transform: translateX(280px) !important;
    }
    .back-contain {
        transform: translateX(0) !important;
    }
    .black-bag {
        background: #333333;
        opacity: 0.6;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 300;
        visibility: hidden;
    }
    .show-back-bag {
        visibility: visible !important;
    }
    .hiden-bach-bag {
        visibility: hidden !important;
    }
    .menu-child-1 {
        list-style: none;
        padding: 10px 0;
        position: absolute;
        top: 0;
        left: -300px;
        z-index: 300px;
        transition: left 0.3s ease;
        background-color: #333333;
    }
    .menu-child-1 li {
        padding-left: 15px;
        padding-right: 15px;
        cursor: pointer;
    }
    .menu-child-1 a {
        text-decoration: none;
    }
    .btn-come-back {
        background: rgba(0, 0, 0, 0.2);
    }
    .btn-come-back a {
        color: #fff !important;
    }
    .btn-turn-pro a {
        color: #555555 !important;
        font-size: 0.95rem;
        font-weight: bold !important;
    }
    .link-page {
        display: none;
    }
    .policy {
        display: none;
    }
    .image-item-blog {
        width: 100% !important;
    }
}

@media screen and (max-width: 480px) {
    .info-detail-product,
    .view-ld-pro {
        padding-left: 15px;
        padding-right: 15px;
    }
    .image-pro-detail {
        padding-bottom: 0 !important;
    }
    .blogs-war {
        padding: 15px !important;
    }
}